@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Tillana&display=swap');

.f-handwritten,
.update-button {
  font-family: "Courgette", cursive;
}

.t-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.t-quote {
  font-family: 'Tillana', cursive;
}